.btn {
	width: 100%;
	border: 3px solid black;
	background: none;
	aspect-ratio: 1 / 1;
	font-size: 2.5 rem;
	text-transform: uppercase;
	padding: .5rem;
	font-weight: bold;
	cursor: pointer;
	color: black;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled){
	background-color: rgb(181, 181, 181);
}

.btn.active {
	background-color: hsl(109, 95%, 41%);
}

.btn.inactive {
	opacity: .3;
}